*.gbr
*.grl
*.drl
*.ps
*.pdf
*.svg
*.rpt
*.pos
*.net
*.bom
*.xml
*.bck
*.tmp
*-bak
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_mod-bak
*.kicad_sym-bak
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*.tmp
*-save.pro
*-save.kicad_pcb
*-cache.lib
*-rescue.lib
*-rescue.kicad_sym
*.lck
fp-info-cache
*.log
*.raw
*.zip
*backups
*backup